@charset 'utf-8';
/*! POPUP Layout */
.ly_pop_wrap{position:absolute;z-index:100;top:0;left:0;width:618px;padding:35px 40px 40px;border:1px solid #eaeaea;background:#fff}
.ly_head{font-size:22px;padding:0 0 18px;color:#2a2a2a;border-bottom:2px solid #555}
.ly_head h3{font-weight:700;line-height:26px}
.ly_head h3 .copy{font-size:14px;font-weight:400;line-height:20px;margin:0 0 0 5px;padding:0 0 0 13px;background:url(/images/common/line_popup_copy.png) left center no-repeat}
.ly_cont h4{font-size:16px;margin-bottom:15px;color:#1b2637}
.ly_cont{padding:30px 0 0}
.ly_cont02{padding:10px 0 0}
.ly_cont .btn_area{margin:20px 0 0}
.ly_cont .btn_today{font-size:13px;position:absolute;top:16px;left:0;text-decoration:underline;color:#797d84}
.ly_cont .line{padding-top:20px;border-top:1px solid #ececec}
.ly_close{position:absolute;top:40px;right:40px;overflow:hidden;width:22px;height:21px;text-indent:-999em;background:url(/images/common/ico_comm.png) 0 -40px no-repeat}
.ly_close02{position:absolute;top:20px;right:30px;overflow:hidden;width:22px;height:21px;text-indent:-999em;background:url(/images/common/ico_comm.png) 0 -40px no-repeat}
.ly_pop_wrap .ipt_txt::-moz-placeholder,.ly_pop_wrap textarea::-moz-placeholder{color:#797d84}
.ly_pop_wrap .ipt_txt:-ms-input-placeholder,.ly_pop_wrap textarea:-ms-input-placeholder{color:#797d84}
.ly_pop_wrap .ipt_txt::-webkit-input-placeholder,.ly_pop_wrap textarea::-webkit-input-placeholder{color:#797d84}
/*! comm_scroll */
.comm_scroll{position:relative;overflow-x:hidden;overflow-y:scroll;max-height:480px;padding-right:10px;padding-bottom:10px}
/*! POPOP - Size */
.sm_ly{width:387px}
.mid_ly{width:560px}
.big_ly{width:618px}
.big2_ly{width:1006px}
.bigfull_ly{width:1163px}
/*! POPUP - ë§í¬ ì¶”ê°€ */
.ly_pop_wrap .add_link{padding-top:20px}
.ly_pop_wrap .add_link input{font-size:16px}
/*! ìƒë‹¨ í…ìŠ¤íŠ¸ì˜ì—­ */
.txt_zone{font-size:18px;line-height:32px;min-height:46px;margin:0 0 15px}
.txt_zone_normal{font-size:16px;line-height:26px;letter-spacing:-2px}
.txt_zone_normal a{letter-spacing:0;color:#ff3091}
.txt_zone2{padding:0 0 30px}
.txt_zone p{font-size:13px;line-height:24px;margin:28px 0 0}
.txt_zone.use{text-align:center;color:#1b2637}
.txt_zone.use p{font-size:14px;margin:0;color:#797d84}
.txt_zone.user_select{margin-bottom:24px}
.txt_zone.identity{margin-top:20px}
.txt_zone.identity .txt_service{line-height:22px;margin:12px 0 0}
/*! í…Œì´ë¸” */
.pop_tbl01{width:100%;border-top:1px solid #eaeaea}
.pop_tbl01 tbody th{font-size:16px;line-height:22px;color:#1b2637}
.pop_tbl01 tbody th.v_top{padding-top:15px;vertical-align:top}
.pop_tbl01 tbody td,.pop_tbl01 tbody th{padding:8px 0;border-bottom:1px solid #eaeaea}
.pop_tbl01 tbody td .tip{margin-left:15px}
.pop_tbl01 tbody td *{vertical-align:middle}
/*! í…Œì´ë¸” */
.pop_tbl02{width:100%;border-top:1px solid #eaeaea}
.pop_tbl02.th_bg th{font-size:14px;color:#1b2637;background:#fafafa}
.pop_tbl02 tbody th{font-weight:700;line-height:22px;text-align:center;color:#797d84;border-right:1px solid #eaeaea}
.pop_tbl02 tbody th .input_radio{margin:0}
.pop_tbl02 tbody th.v_top{padding-top:15px;vertical-align:top}
.pop_tbl02 tbody td,.pop_tbl02 tbody th{font-size:16px;padding:26px 0;border-bottom:1px solid #eaeaea}
.pop_tbl02 tbody td{padding-left:30px}
.pop_tbl02 tbody td .tit,.pop_tbl02 tbody td dt{font-weight:700;display:block;margin-bottom:2px;color:#1b2637}
.pop_tbl02 tbody td dt em{color:#ff3091}
.pop_tbl02 tbody td .tit em{font-weight:700;color:#ff3091}
.pop_tbl02 tbody td .txt,.pop_tbl02 tbody td dd{font-size:14px;display:block}
.pop_tbl02 tbody td label{cursor:pointer}
.pop_tbl02 tbody td b{font-weight:400;color:#1b2637}
.pop_tbl02 tbody td .price strong{font-size:24px;font-weight:700;color:#1b2637}
.pop_tbl02 tbody td .price em{font-size:18px;margin-left:3px;vertical-align:3px;color:#5d6064}
.pop_tbl02 tbody td.center{padding:26px 0;text-align:center}
.pop_tbl02 .contact li{font-size:14px;margin-top:10px}
.pop_tbl02 .contact li:first-child{margin:0}
.pop_tbl02 .contact li label,.pop_tbl02 .contact li span{display:inline-block;width:58px}
/*! tip */
.bl_caution{margin:22px 0 16px}
.bl_check{margin:0 0 30px}
.tip_txt{margin:30px 0 0;text-align:center}
/*! ê²Œì‹œíŒ - ì—…ë¡œë“œ */
.upload{padding:0}
.upload p{font-size:18px;text-align:center}
.upload .bx_loding{margin:30px 0 0;text-align:center}
.upload .bx_loding .bar{position:relative;display:inline-block;width:448px;height:18px;vertical-align:middle;border:1px solid #ddd}
.upload .bx_loding .bar span{position:absolute;top:-1px;left:-1px;display:block;height:18px;border:1px solid #ff3091;background:#ff3091}
.upload .bx_loding strong{font-size:16px;font-weight:700;margin-left:8px;vertical-align:middle;color:#ff3091}
.upload .ly_close{top:30px}
/*! ê²Œì‹œíŒ  - file_upload */
.file_upload{margin:35px 0 0}
.file_upload dt{font-size:16px;line-height:22px;float:left;width:133px;padding-top:10px;color:#1b2637}
.file_upload dd{float:left}
.file_upload .bl_caution{margin:4px 0 0}
/*! ì´ìš©ì› - êµ¬ë§¤ì™„ë£Œ */
.auto_close{margin:24px 0 0;padding:20px 0;text-align:center;background:#fafafa}
.auto_close strong{color:#ff3091}
.auto_close .btns{font-size:16px;font-weight:400;line-height:34px;display:inline-block;width:105px;height:36px;color:#1b2637;border:1px solid #ccc}
/*! ì´ìš©ê¶Œ ë³´ìœ ë‚´ì—­ */
.auto_pay{padding:11px 0 43px;border-bottom:1px solid #eaeaea}
.auto_pay .auto_banner{margin-bottom:24px;border:1px solid #eaeaea}
.auto_pay .auto_banner_html{overflow-y:scroll;height:170px;margin-bottom:24px;border:1px solid #eaeaea}
.auto_pay .auto_banner img{width:558px;height:168px}
.auto_pay dt{font-size:16px;font-weight:700;line-height:22px;margin-bottom:16px;color:#1b2637}
.auto_pay dd li{margin-top:8px}
.auto_pay dd li:first-child{margin:0}
/*! ì´ìš©ê¶Œ - ì´ìš©ê¶Œ êµ¬ë§¤ */
.term_wrap{position:relative;padding-bottom:17px;border-bottom:1px solid #eaeaea}
.term_wrap h4{margin-top:40px}
.term_wrap .all_chk{position:absolute;top:0;right:0}
.term_wrap .all_chk .input_checkbox{margin:0}
.term_wrap ul>li{margin-top:9px}
.term_wrap ul>li .input_checkbox,.term_wrap ul>li:first-child{margin:0}
.term_wrap ul>li.long_txt{position:relative}
.term_wrap ul>li.long_txt em a{vertical-align:1px}
.term_wrap ul>li.long_txt .input_checkbox{padding-left:25px;text-indent:-25px}
.term_wrap ul>li a{margin-left:3px;vertical-align:4px}
.term_wrap ul>li li{margin-top:5px}
.term_wrap ul>li ul{margin:8px 0 0 27px}
.term_wrap .caution_list li{margin-top:12px;padding-left:9px;text-indent:-9px}
.term_wrap .caution_list li:first-child{margin-top:0}
.term_wrap .notice{line-height:25px;padding:5px 0 20px;color:#ff3091}
/*! ì´ìš©ê¶Œ - ë³¸ì¸ì¸ì¦  */
.citation{margin:50px 0 88px;padding:37px 0 0;border-top:1px solid #eaeaea}
.citation dl{position:relative;margin-top:36px}
.citation dl:first-child{margin:0}
.citation dt{font-size:16px;margin-bottom:9px;color:#1b2637}
.citation dd{color:#797d84}
.citation dd.btn .btns{line-height:32px;position:absolute;top:3px;right:0;width:118px;height:34px}
.citation dd.btn .btns span{font-size:12px;font-weight:400;color:#797d84}
/*! ì¼ë°˜ í…ìŠ¤íŠ¸ ìŠ¤íƒ€ì¼ */
.pop_notice01,.pop_notice02{font-size:12px;padding:5px 0 0}
/*! ë™ì˜í•˜ê¸° ì»¨í…Œì¸  */
.pop_agree{margin:20px 0 0}
.pop_agree_desc{margin:10px 0 0;padding:20px 15px;background:#eaeaea}
.pop_agree_desc>ol>li{font-size:12px;padding:0 0 0 11px;text-indent:-11px}
.pop_agree_desc>ol>li>strong{padding-right:10px}
/*! ë¯¸ë¦¬ë³´ê¸° íŒì—… */
.preview_scroll{overflow-x:hidden;overflow-y:scroll;height:517px;border:1px solid #eaeaea}
.preview_title{font-size:18px;font-weight:700;line-height:24px;padding:30px 20px;color:#2a2a2a;border-bottom:1px solid #eaeaea}
.preview_desc{line-height:22px;padding:30px 20px;color:#2a2a2a;ont-size:16px}
/*! ì‹œìŠ¤í…œ ì–¼ëŸ¿ ì»¤í…ì¸  */
.alert_message{font-size:18px;line-height:24px;padding:0 0 25px;text-align:center}
.alert_message .point{font-weight:700}
/*! ì»¨í…ì¸  ì •ë ¬ */
.align_cont01 .pop_notice02{position:relative;top:6px;float:right}
.align_cont01 .input_checkbox{margin-left:17px}
/*! ì˜¤ì‹œëŠ” ê¸¸ */
.location_desc{margin:30px 0 0;padding:0 0 10px}
.location_desc li{font-size:16px;line-height:24px;position:relative;margin:0 0 20px;padding:0 0 0 123px}
.location_desc li strong{font-size:16px;font-weight:700;position:absolute;top:0;left:0;width:99px;color:#2a2a2a;background:url(/images/program/bu_line_visit.png) right 6px no-repeat}
.img_location_map img{width:560px;height:326px}
/*! ìžë™ê²°ì œ ì„œë¹„ìŠ¤ í•´ì§€*/
.ly_ticket{padding:0 32px;text-align:center}
.ly_ticket .txt{font-size:16px;font-weight:700;margin:0 0 16px;color:#1b2637}
.ly_ticket .txt02{margin:0;color:#797d84}
.ly_ticket .txt02 strong{color:#ff3091}
/*! ê°œì¸ ê²¬í•™ ì•ˆë‚´ */
.ly_tour{top:278px;left:50%;margin-left:-20px}
/*! ë ˆì´ì–´ ë¡œë”© */
.layerloading{position:absolute;z-index:1;top:0;right:0;bottom:0;left:0;display:none;background:url(/images/comment/img_loading_bar.gif) center center no-repeat #fff;background-color:rgba(255,255,255,.6)}
.ly_pop_wrap .coupon_regi{width:978px;height:auto}
/*! //CSS */