@charset 'utf-8';
/*! reset */
html{font-size:100%;color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
article,aside,audio,blockquote,body,canvas,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,mark,menu,nav,ol,p,pre,section,summary,td,textarea,th,time,ul,video{margin:0;padding:0}
body{font-family:'ë§‘ì€ê³ ë”•','Malgun Gothic','Apple SD Gothic Neo',arial,'ë‹ì›€',Dotum,Tahoma,Geneva,sans-serif;font-size:14px;line-height:20px;letter-spacing:-.8px;color:#5d6064;background-color:#fff}
img{vertical-align:middle;border:0}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:middle}
table{border-spacing:0;border-collapse:collapse}
fieldset{border:0}
legend{color:#000}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:400;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;line-height:1}
caption,hr,legend{font-size:1px;line-height:0;width:0;height:0;text-indent:-9999em}
a,a:active,a:focus,a:hover,a:link,a:visited{font-size:100%;text-decoration:none;color:#5d6064}
/*! mac css */
.mac_os .tab_basic li{margin-left:-4px}
.mac_os .tab_basic li a{padding:8px 18px 6px}
.mac_os .tab_comm{background:0 0}
.mac_os .tab_comm li a:after{position:absolute;display:block;width:100%;height:1px;content:'';background:#000}
.mac_os .tab_comm li.on a:after{background:#fff}
.mac_os .tab_comm li.on a{border:1px solid #000;background:0 0}
.mac_os .tab_comm li a{line-height:43px;border-color:#ddd}
.mac_os a.btn_more{line-height:46px}
.mac_os .ico_rank.r15{line-height:16px}
.mac_os .ico_rank.r19,.mac_os .ico_subtitle{line-height:24px}
.mac_os a.btns_ico{line-height:34px}
.mac_os .bl_gray_dot li{background-position:left 7px}
.mac_os .section_list_wrap .r_section h3 span{background-position:left top}
.mac_os .ico_status em{padding:5px 10px 3px}
.mac_os #footer .f_content{padding:21px 0 20px}
.mac_os #content .lnb_area .lnb>li>a{padding:17px 0}
.mac_os #content .lnb_2depth>li.on_2depth>a,.mac_os #content .lnb_2depth>li>a:hover{color:#ff3091;background:url(/images/common/bl_lnb_pink.gif) left 7px no-repeat}
.mac_os .tab_relation .rolling_relation li a{line-height:34px}
.mac_os .util li a{line-height:28px}
.mac_os .location_map>li>a,.mac_os .location_map>li>span{line-height:18px}
.mac_os .paging ul li a,.mac_os .paging ul li strong{line-height:26px;min-width:8px}
/*! í”„ë¡œê·¸ëž¨ìœ„ì €ë“œ */
.mac_os .use_notice li.notice01 .txt{display:inline;vertical-align:-3px}
.mac_os .v_player_con h3 span{vertical-align:5px}
.mac_os .sns_wrap .btn_sns{line-height:50px}
.mac_os .v_player_con .desc{height:42px}
.mac_os .tab_normal li a{background-position:left 2px}
.mac_os .scenes_clip_wrap .scenes_l a{background-position:right top}
.mac_os .btns.board{line-height:39px}
.mac_os .tbl_search .btn_sch{line-height:37px}
.mac_os .filebox label{line-height:42px}
.mac_os .btns{line-height:37px}
.mac_os .selectbox_wrap .select_result{line-height:45px}
.mac_os .ico_status2 em{padding:7px 10px 3px}
.mac_os .btn_vote,.mac_os .btn_vote02{line-height:49px}
.mac_os .vote_input_checkbox span.check_select{top:-4px}
.mac_os .schedule_list>li .schedule_info .day1{line-height:28px}
.mac_os .schedule_list>li .schedule_info .day2{padding:5px 0 0}
.mac_os .schedule_list>li .schedule_info .time_data .info span{vertical-align:-3px}
.mac_os .schedule_list>li .schedule_info .time_data .info span:first-child{background-position:right top}
.mac_os .login_btnr_group .txt_login{vertical-align:-4px;background-position:right top}
.mac_os .login_btnr_group>a{vertical-align:-13px}
/*! VOD */
.mac_os .vod_real_count_area .btn_vod_more,.mac_os .vod_recom_theme_area .btn_vod_more{background-position:right 1px}
.mac_os .vod_visual_list .bg_shadow{background:url(/images/vod/bg_visual_shadow_mac.png) left bottom no-repeat}
.mac_os .vod_new_pick_list .bg_shadow{background:url(/images/vod/bg_visual_shadow2_mac.png) left bottom no-repeat}
.mac_os .vod_new_pick_list>li .vod_new_link02 .bg_shadow{background:url(/images/vod/bg_visual_shadow_sm_mac.png) left bottom no-repeat}
.mac_os .vod_hot_pick_list .bg_shadow{background:url(/images/vod/bg_visual_shadow3_mac.png) left top no-repeat}
.mac_os .vod_prg_pick_list .vod_prg_link01 .bg_shadow{background:url(/images/vod/bg_visual_shadow4_mac.png) left bottom no-repeat}
.mac_os .vod_prg_pick_list .vod_prg_link02 .bg_shadow{background:url(/images/vod/bg_prg_shadow_mac.png) left bottom no-repeat}
/*! spot */
.mac_os .use_notice li.notice02{background-position:left 16px}
.mac_os .onair .area_roll_event .ctrl_area>a{vertical-align:-2px}
.mac_os .wrap_chart_prg_list .ico_service{line-height:24px}
.mac_os .wrap_chart_prg_list .time_onair{line-height:28px}
.mac_os #footer .f_menu li{background-position:left 2px}
.mac_os a.btn_buy{line-height:47px}
.mac_os .btns.btn_sch{line-height:39px}
.mac_os .btns.btn_view{line-height:29px}
.mac_os .btn_invest{line-height:37px}
.mac_os .citation dd.btn .btns{line-height:34px}
/*! ê²Œì‹œíŒ */
.mac_os a.btn_file_save.big{line-height:38px}
.mac_os .tb_view .filesave_wrap .filesave_list li{background-position:left 3px}
.mac_os a.btn_sns02{line-height:38px}
.mac_os .bx_photo_wrap .rolling_photo li a .img .photo_num .ico_photo,.mac_os .photo_gallerylist li a .img .photo_num .ico_photo{vertical-align:-2px}
.mac_os .tb_info .ico_wrap,.mac_os .tb_info .title a,.mac_os .tb_info .title02 a{vertical-align:-8px}
/*! í†µí•©ê²€ìƒ‰ */
.mac_os .wrap_sch .btn_sch{line-height:45px}
.mac_os .wrap_quick_event .txt_exp{height:42px}
.mac_os .box_prg .tb_info_type .box_ellipsis{height:22px}
.mac_os .sch_replay_list .date{background-position:right 2px}
.mac_os .news_list .date{background-position:left 2px}
.mac_os .box_prg .tb_info_type .open_box{top:25px}
/*! í‘¸í„° */
.mac_os .jtbc_brand_type .song_tit .t{background-position:left 2px}
.mac_os .help_list .btn_link{line-height:22px}
/*! ëŒ“ê¸€ */
.mac_os .comment_log .btn_c_recommand,.mac_os .comment_log .btn_c_report{line-height:29px}
.mac_os .comment_log .btn_c_recommand .ico,.mac_os .comment_log .btn_c_report .ico{background-position:left 2px}
.mac_os .comment_btn .btn_write_reply{line-height:23px}
.mac_os .comment_desc .in_mov .thumb .txt .tit{height:45px}
.mac_os .comment_list>li{padding:18px 0 17px}